#foodContainer {
    width : 80%;
    display : grid;
    gap : 20px;
    grid-template-columns : repeat(3 , 1fr);
    margin : auto;
}

#foodContainer > div{
     width : 100%;
    border : 1px solid red;
}

#foodContainer > div img {
    width : 100%;
}

